<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thống Kê Đăng Ký Tham Gia Giao Thông</title>
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body id="page-top">

<nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="/">TKGT </a>

    <button class="btn btn-link btn-sm text-white order-1 order-sm-0" id="sidebarToggle" href="/">
        <i class="fas fa-bars"></i>
    </button>
    <div class="navbar-nav ml-auto" sec:authorize="isAuthenticated()">
        <button type="button" class="btn btn-warning float-right" data-toggle="modal" data-target="#logoutModal"
                style="padding: 10px 60px;">Logout</button>
    </div>
</nav>

<div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Create The Form</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/chart">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Charts</span>
            </a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/customer">
                <i class="fas fa-fw fa-folder"></i>
                <span>Customer </span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/vehicle">
                <i class="fas fa-fw fa-folder"></i>
                <span>Vehicle </span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/province">
                <i class="fas fa-fw fa-folder"></i>
                <span>Province </span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/brandColor">
                <i class="fas fa-fw fa-table"></i>
                <span>Extra Board</span></a>
        </li>
    </ul>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- DataTables Example -->
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Vehicle Data
                    <button type="button" class="btn btn-success btn-lg float-right" onclick="location.href='excel/data'">Export Data to Excel</button>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table table-striped table-bordered" width="100%" cellspacing="0" id="tblVehicle" name="tblVehicle">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Brand</th>
                                <th>Color</th>
                                <th>Engine number</th>
                                <th>Chassis number</th>
                                <th>Create Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                            <tr>
                                <th>Name</th>
                                <th>Owner</th>
                                <th>Brand</th>
                                <th>Color</th>
                                <th>Engine number</th>
                                <th>Chassis number</th>
                                <th>Create Date</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            </tr>
                            </tfoot>
                            <tbody>


                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>

            <p class="small text-center text-muted my-5">
                <em>Vehicle registration online ..</em>
            </p>

        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span></span>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- The Modal -->
<div class="modal fade" id="modalAddEdit" name="modalAddEdit">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title" id="modalTitle" ></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form id="formAddEdit" >
                    <input hidden name="id" id="id" >
                    <input hidden name="customer_id" id="customer_id">
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Vehicle name</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text"
                                   name="vehicle_name" id="vehicle_name"
                                   data-rule-required=true >
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Customer name</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text"
                                   name="customer_name" id="customer_name"
                                   data-rule-required=true disabled>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-3">
                            <label>Engine number</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text"
                                   name="engine_num" id="engine_num"
                                   data-rule-required=true >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Chassis number</label>
                        </div>
                        <div class="col-9">
                            <input class="form-control" type="text"
                                   name="chassis_num" id="chassis_num"
                                   data-rule-required=true >
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Brand</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" name="brand" id="brand"></select>
                        </div>
                    </div>

                    <div class="row form-group">
                        <div class="col-3">
                            <label>Color</label>
                        </div>
                        <div class="col-9">
                            <select class="form-control" name="color" id="color"></select>
                        </div>
                    </div>

                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary"
                   onclick="vehicles.save()">Save</a>

                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

 Logout Modal
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Log out?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Select "Logout" below if you are ready to leave.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger" href="/logout">Logout</a>
            </div>
        </div>
    </div>
</div>

<script src="vendor/modernizr/modernizr-2.6.2.min.js"></script>
<script src="vendor/jquery/jquery-1.10.0.min.js"></script>
<script src="vendor/jquery-validation-1.19.1/dist/jquery.validate.js"></script>
<script src="vendor/jquery-cookie/jquery.cookie-1.3.1.js"></script>
<script src="vendor/jquery.steps-1.1.0/jquery.steps.js"></script>
<script src="ajax/index.js"></script>
<script src="ajax/customer.js"></script>
<script src="ajax/vehicle.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="js/sb-admin.js"></script>

</body>

</html>
