<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Đăng ký giấy tờ xe</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/jquery.steps.css">
    <link href="css/sb-admin.css" rel="stylesheet">

</head>
<body id="page top">
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <button type="button" class="btn btn-danger" style="padding: 10px 60px;" onclick="index.guide();">Hướng dẫn</button>


    <div class="navbar-nav ml-auto">
        <button type="button" class="btn btn-primary float-right" style="padding: 10px 60px;"
                onclick="location.href='/chart'">Admin Page
        </button>
    </div>
</nav>

<div id="wrapper">

    <div id="content-wrapper">

        <div class="container-fluid">

            <ol class="breadcrumb">
                <h5>Đăng ký mới phương tiện</h5>
            </ol>

            <form id="form_create">
                <div class="form_input">
                    <div class="form-row" style="padding: 40px; ">
                        <div class="form-group col-md-6">
                            <label for="input_name">Tên chủ xe: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_name" name="input_name"
                                       placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="input_identity">Số CMND/Hộ chiếu: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_identity" name="input_identity"
                                       placeholder="Identity">
                            </div>
                        </div>
                        <div class="form-group col-md-3" style="margin-top: auto;text-align: center;">
                            <button type="button" class="btn btn-info btn-lg" id="check_information"
                                    onclick="index.checkInformation();">Kiểm tra thông tin
                            </button>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="input_address">Địa chỉ: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_address" name="input_address"
                                       placeholder="Address" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="input_phone">Số điện thoại: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_phone" name="input_phone"
                                       placeholder="Phone" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="province">Tỉnh thành: *</label>
                            <div class="input-group-lg">
                                <select id="province" name="province" class="form-control" disabled></select>
                            </div>
                        </div>


                        <hr style="width: 100%;">

                        <div class="form-group col-md-4">
                            <label for="input_vehicle">Tên phương tiện: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_vehicle" name="input_vehicle"
                                       placeholder="Name" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="brand">Hãng xe: *</label>
                            <div class="input-group-lg">
                                <select id="brand" name="brand" class="form-control" disabled></select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="color">Màu sắc: *</label>
                            <div class="input-group-lg">
                                <select id="color" name="color" class="form-control" disabled></select>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label for="input_engine_num">Số máy: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_engine_num" name="input_engine_num"
                                       placeholder="Engine Number" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="input_chassis_num">Số khung: *</label>
                            <div class="input-group-lg">
                                <input type="text" class="form-control" id="input_chassis_num" name="input_chassis_num"
                                       placeholder="Chassis Number" disabled>
                            </div>
                        </div>

                        <div class="form-group col-md-4" style="margin-top: auto;text-align: center;">
                            <button type="button" class="btn btn-info btn-lg" id="check_identity"
                                    onclick="index.checkVehicle();" disabled>Kiểm tra hệ thống
                            </button>
                        </div>
                        <hr style="width: 100%;">
                        <div class="form-group col-md-4"></div>
                        <div class="form-group col-md-4">
                            <button type="button" class="btn btn-primary btn-lg btn-block" id="create_form"
                                    onclick="index.createForm();" style="margin-top: 40px;" disabled>Tạo biểu mẫu
                            </button>
                        </div>
                        <div class="form-group col-md-4"></div>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

<div class="modal fade" id="modalGuide" name="modalGuide" style="display: block;padding-left: 17px;
position:absolute;float: left;left: 37%;top: 54%;transform: translate(-50%, -50%);">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="width:1200px">

            <div class="modal-header" style="background-color: cadetblue;">
                <h4 class="modal-title" id="guideTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <img src="/images/324.png">
            </div>
            <div class="modal-footer">
                <button class="btn btn-info" type="button" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetails" name="modalDetails">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header" style="background-color: cadetblue;">
                <h4 class="modal-title" id="modalTitle"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div>

            </div>

            <!-- Modal body -->
            <div class="modal-body" style="padding:2rem">
                <h4> - Các thông tin bạn đã nhập:</h4>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Chủ sở hữu(Ông/bà):</label>
                </div>
                <div class="col-6">
                    <span name="customer_name" id="detail_name"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Số CMND/Hộ chiếu:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_identity"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Địa chỉ:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_address"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Số điện thoại:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_phone"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Tỉnh thành:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_province"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Tên phương tiện:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_vehicle"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Hãng xe:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_brand"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Màu sắc:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_color"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Số máy:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_engine"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Số khung:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_chassis"></span>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-2">
                </div>
                <div class="col-4">
                    <label>- Ngày tạo:</label>
                </div>
                <div class="col-6">
                    <span name="" id="detail_date"></span>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <a href="javascript:;" class="btn btn-primary"
                   onclick="index.closeModal()">Đóng</a>
            </div>

        </div>
    </div>
</div>

<script src="vendor/modernizr/modernizr-2.6.2.min.js"></script>
<script src="vendor/jquery/jquery-1.10.0.min.js"></script>
<script src="vendor/jquery-validation-1.19.1/dist/jquery.validate.js"></script>
<script src="vendor/jquery-cookie/jquery.cookie-1.3.1.js"></script>
<script src="ajax/index.js"></script>
<script src="ajax/customer.js"></script>
<script src="ajax/vehicle.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js"></script>

<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Page level plugin JavaScript-->
<script src="vendor/datatables/jquery.dataTables.js"></script>
<script src="vendor/datatables/dataTables.bootstrap4.js"></script>
<script src="js/sb-admin.js"></script>

</body>
</html>